@import "./variables.scss";

$borderColor01: $greyscale02;

$primaryBg01: $greyscale01;
$primaryBg01Hover: $transparentGrey04;
$primaryColor: $greyscale08;

$secondaryBg01: $blue04;
$secondaryBg02: $greyscale07;
$secondaryBg03: $greyscale06;

$secondaryColor01: $blue09;

$inactiveBg01: $transparentGrey02;
$inactiveColor01: $greyscale04;

$highlightedColorPrimary: $blue05;
$highlightedBGPrimary: $blue01;
$highlightedBGPrimaryHover: $blue02;

$selectingColorPrimary: $blue03;

$eventCard01BG: $transparentGrey03;
$eventCard01BG--hover: $transparentGrey04;

$eventCard01Border: $greyscale02;
$eventCard01Color: $greyscale08;
// $eventCard01BG: $blue05;
// $eventCard01Border: $blue06;
// $eventCard01Color: $blue04;

/* offset-x | offset-y | blur-radius | spread-radius | color */
// layout selector, day of week event, date selector
$boxShadow01: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
// control center
$boxShadow02: 0 3px 5px -1px rgba(18, 52, 86, 0.5), 0 6px 10px 0 rgba(18, 52, 86, 0.14),
    0 1px 18px 0 rgba(18, 52, 86, 0.12);
// event modal
$boxShadow03: 0 24px 38px 3px rgba(0, 0, 0, 0.14), 0 9px 46px 8px rgba(0, 0, 0, 0.12),
    0 11px 15px -7px rgba(0, 0, 0, 0.2);
// event cards control btn
$boxShadow04: 0 1px 2px -1px rgba(0, 0, 0, 0.2), 0 3px 4px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12);

.personal_event_calendar {
    background-color: $personalEventCalendarBG;
    color: $personalEventCalendarColor;
}

.work_event_calendar {
    background-color: $workEventCalendarBG;
    color: $workEventCalendarColor;
}

.travel_event_calendar {
    background-color: $travelEventCalendarBG;
    color: $travelEventCalendarColor;
}

.spacer {
    flex-grow: 1;
}
