@import "./variables.scss";

$border-color01: $greyscale02;

$primary-bg01: $greyscale01;
$primary-bg01-hover: $greyscale05;

$secondary-bg01: $blue04;
$secondary-bg02: $greyscale06;
$secondary-bg03: $greyscale07;

$inactive-bg01: $greyscale04;

$highlighted-color-primary: $blue01;
$highlighted-color-primary-hover: $blue02;

$selecting-color-primary: $blue03;

/* offset-x | offset-y | blur-radius | spread-radius | color */
$box-shadow01: 0 3px 5px -1px rgba(0, 0, 0, 0.2), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12);
