@import "./variables.scss";

html,
body {
    width: 100%;
    height: 100%;

    padding: 0;
    margin: 0;

    font-family: $mainFont;
    font-size: 12px;
}

input[type="time"] {
    font-family: $mainFont;
}

#app {
    width: 100%;
    height: 100%;

    > .wrapper {
        width: 100%;
        height: 100%;

        display: flex;
    }
}

@media screen and (max-width: 400px) {
    #app {
        > .wrapper {
            flex-direction: column;
        }
    }
}
