@import "./variables.scss";
@import "./global.scss";

@mixin selected_item {
    background-color: $selectingColorPrimary;
}

@mixin flex_centered {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

@mixin text_btn {
    @include flex_centered;

    padding: 8px 16px;

    background-color: transparent;
    border: none;
    border-radius: 4px;

    cursor: pointer;
}

@mixin text_btn--primary {
    background-color: $blue07;
    color: $greyscale01;
}

@mixin text_btn--hover {
    opacity: 0.5;
}

@mixin text_btn--disabled {
    background-color: $greyscale06;
    opacity: 0.5;
}

@mixin circle_button {
    @include flex_centered;
    flex-direction: column;

    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;

    padding: 7px;
    box-sizing: border-box;

    border-radius: 50%;
    border: none;
    background-color: transparent;

    cursor: pointer;
}

@mixin circle_button--mobile {
    min-width: 24px;
    min-height: 24px;

    padding: 4px;
}

@mixin circle_button--hover {
    background-color: $primaryBg01Hover;
}

@mixin circle_button--current {
    background-color: $highlightedBGPrimary;
}

@mixin circle_button--current--hover {
    background-color: $highlightedBGPrimaryHover;
}

@mixin link_btn {
    background-color: transparent;
    border: none;

    text-decoration: underline;
    text-decoration-color: $eventCard01Border;

    cursor: pointer;
}

@mixin control__btn {
    background: none;
    border: none;

    box-sizing: border-box;

    margin: 0 4px 0 4px;

    display: flex;
    align-content: center;
    justify-content: center;

    cursor: pointer;
}

@mixin control__btn--hover {
    background-color: $transparentGrey03;
}

@mixin calendar_name__btn {
    min-width: 64px;
    max-height: 32px;

    padding: 4px 16px;
    margin: 0 4px;

    border: 1px solid $greyscale02;
    border-radius: 8px;

    cursor: pointer;
}

@mixin event_card_list {
    width: 100%;

    // border-right: 1px solid $borderColor01;
    box-sizing: border-box;

    display: flex;

    position: relative;

    overflow: hidden;
}

@mixin event_card_list--expanded {
    overflow: visible;
}

@mixin event_card_list--mobile {
    right: 4px;
}

@mixin event_card {
    width: calc(100% - 16px);
    min-height: 24px;

    padding: 2px 4px;
    box-sizing: border-box;

    // background-color: $eventCard01BG;
    // background: none;
    // color: $eventCard01Color;
    border: 1px solid $eventCard01Border;

    display: flex;
    // align-items: center;
    // flex-direction: column;

    overflow: hidden;

    transition: box-shadow 0.25s ease;

    cursor: pointer;
}

@mixin event_card--hourly {
    background-color: transparent;
    border: none;
    border-radius: 0;

    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    > .event_card__title {
        width: 50%;
        padding: 0;
    }
}

@mixin event_dot {
    width: 12px;
    height: 12px;
    margin-right: 4px;

    // background-color: $eventCard01BG;
    clip-path: circle(6px at 50% 50%);
}

@mixin event_card--hover {
    background-color: $eventCard01BG--hover;
    box-shadow: $boxShadow01;

    z-index: 100;
}

@mixin event_card--hourly--hover {
    // background-color: transparent;
    box-shadow: none;
}

@mixin event_card--mobile {
    font-size: 0.75em;
    padding: 4px;
}

@mixin event_card--rounded {
    border-radius: 8px;
}

@mixin event_card--rounded_left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

@mixin event_card--rounded_right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@mixin event_card__title {
    width: 100%;
    min-height: 15px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    text-align: left;
}

@mixin event_card__title__t {
    background: $greyscale01;
    color: $greyscale06;

    // display: none;

    position: absolute;

    padding: 4px;

    top: -8px;
    left: 0;
}

@mixin event_card__title__t--active {
    display: block;
}

@mixin hourly_event_card {
    background: none;
}

@mixin day_container {
    width: 100%;

    flex: 1;
    display: flex;
    flex-direction: column;

    border-top: 1px solid $borderColor01;
    box-sizing: border-box;

    overflow-y: scroll;
}

@mixin modal {
    background-color: $greyscale01;
    box-shadow: $boxShadow03;

    padding: 8px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;

    position: absolute;
}

@mixin list_btn {
    min-width: 128px;
    background-color: $primaryBg01;

    padding: 8px;

    border: 1px solid;
    border-color: $borderColor01;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: space-between;

    cursor: pointer;
}

@mixin list_btn--hover {
    background-color: $primaryBg01Hover;
}

@mixin list_btn--disabled {
    color: $primaryColor;
    border: none;
}

@mixin list_btn--hover--disabled {
    background-color: transparent;
}

@mixin selector_list {
    background-color: $primaryBg01;

    right: 0;

    padding: 8px;
    box-sizing: border-box;

    box-shadow: $boxShadow01;

    position: absolute;
    z-index: 100;

    display: flex;
    flex-direction: column;
}
