@import "./variables.scss";

@mixin selected_item {
    background-color: $selectingColorPrimary;
}

@mixin flex_centered {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

@mixin text_button {
    @include flex_centered;

    padding: 8px 16px;

    background-color: transparent;
    border: none;
    border-radius: 4px;

    cursor: pointer;
}

@mixin text_button--primary {
    background-color: $blue05;
    color: $greyscale01;
}

@mixin text_button--hover {
    opacity: 0.5;
}

@mixin text_button--disabled {
    background-color: $greyscale06;
    opacity: 0.5;
}

@mixin circle_button {
    @include flex_centered;
    flex-direction: column;

    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;

    padding: 7px;
    box-sizing: border-box;

    border-radius: 50%;
    border: none;
    background-color: transparent;

    cursor: pointer;
}

@mixin circle_button--mobile {
    min-width: 24px;
    min-height: 24px;

    padding: 4px;

    font-size: 0.5em;
}

@mixin circle_button--hover {
    background-color: $primaryBg01Hover;
}

@mixin circle_button--current {
    background-color: $highlightedColorPrimary;
}

@mixin circle_button--current--hover {
    background-color: $highlightedColorPrimaryHover;
}

@mixin control__btn {
    background: none;
    border: none;

    box-sizing: border-box;

    margin: 0 4px 0 4px;

    display: flex;
    align-content: center;
    justify-content: center;

    cursor: pointer;
}

@mixin event_card_list {
    width: 100%;

    box-sizing: border-box;

    display: flex;

    position: relative;

    overflow: hidden;
}

@mixin event_card_list--expanded {
    overflow: visible;
}

@mixin event_card_list--mobile {
    right: 4px;
}

@mixin event_card {
    width: 100%;
    min-height: 24px;

    padding: 2px 4px;
    box-sizing: border-box;

    border: 1px solid $greyscale02;

    background-color: $transparentGrey03;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    transition: box-shadow 0.25s ease;

    cursor: pointer;
}

@mixin event_card--hover {
    box-shadow: $boxShadow01;
    background-color: $transparentGrey04;

    z-index: 100;
}

@mixin event_card--mobile {
    font-size: 0.75em;
    padding: 4px;
}

@mixin event_card--rounded {
    border-radius: 8px;
}

@mixin event_card--rounded_left {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

@mixin event_card--rounded_right {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

@mixin event_card__title {
    width: 100%;
    min-height: 15px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    user-select: none;

    text-align: left;
}

@mixin event_card__title__t {
    background: $greyscale01;
    color: $greyscale06;

    // display: none;

    position: absolute;

    padding: 4px;

    top: -8px;
    left: 0;
}

@mixin event_card__title__t--active {
    display: block;
}
