@import "./variables.scss";

@mixin selected_item {
    background-color: $selecting-color-primary;
}

@mixin flex_centered {
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

@mixin text_button {
    @include flex_centered;

    padding: 8px 16px;

    background-color: transparent;
    border: none;
    border-radius: 4px;

    cursor: pointer;
}

@mixin text_button--primary {
    background-color: $blue05;
    color: $greyscale01;
}

@mixin text_button--hover {
    opacity: 0.5;
}

@mixin circle_button {
    @include flex_centered;
    flex-direction: column;

    min-width: 34px;
    max-width: 34px;
    min-height: 34px;
    max-height: 34px;

    padding: 7px;
    box-sizing: border-box;

    border-radius: 50%;
    border: none;
    background-color: transparent;

    font-size: 0.9em;
    cursor: pointer;
}

@mixin circle_button--mobile {
    min-width: 24px;
    min-height: 24px;

    padding: 4px;

    font-size: 0.5em;
}

@mixin circle_button--hover {
    background-color: $primary-bg01-hover;
}

@mixin circle_button--current {
    background-color: $highlighted-color-primary;
}

@mixin circle_button--current--hover {
    background-color: $highlighted-color-primary-hover;
}

@mixin event_cards {
    top: 0;
    bottom: 0;
    left: 0;
    right: 16px;

    position: absolute;
}

@mixin event_cards--mobile {
    right: 4px;
}

@mixin event_card {
    background-color: $transparentGrey03;
    border: 1px solid $greyscale02;

    width: 100%;

    padding: 2px 4px;
    box-sizing: border-box;

    position: absolute;
    z-index: 2;

    display: flex;
    flex-direction: column;

    overflow: hidden;

    transition: all 0.25s ease;

    > * {
        margin: 4px;
    }
}

@mixin event_card--hover {
    box-shadow: $box-shadow01;
    background-color: $transparentGrey04;

    z-index: 100;
}

@mixin event_card--mobile {
    font-size: 0.5em;
    padding: 4px;

    > * {
        margin: 4px 2px;
    }
}
