$blue01: #d9eafb;
$blue02: #abcdef;
$blue03: rgba(50, 188, 248, 0.2);
$blue04: #eef;

$greyscale01: #fff;
$greyscale02: #ccc;
$greyscale03: rgba(238, 238, 238, 0.5);
$greyscale04: rgba(238, 238, 238, 0.66);
$greyscale05: rgba(238, 238, 238, 0.75);
$greyscale06: #444;
$greyscale07: #777;
