$mainFont: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;

$blue01: #d9eafb;
$blue02: #abcdef;
$blue03: rgba(50, 188, 248, 0.2);
$blue04: #eef;
$blue05: #789abc;
$blue06: #56789a;
$blue07: #456789;
$blue08: #234567;
$blue09: #123456;

$greyscale01: #fff;
$greyscale02: #ccc;
$greyscale03: #ddd;
$greyscale04: #aaa;
$greyscale05: #999;
$greyscale06: #777;
$greyscale07: #444;
$greyscale08: #222;
$greyscale09: #000;

$transparentGrey01: rgba(238, 238, 238, 0.5);
$transparentGrey02: rgba(238, 238, 238, 0.66);
$transparentGrey03: rgba(238, 238, 238, 0.75);
$transparentGrey04: rgba(238, 238, 238, 0.95);
$transparentGrey05: rgba(255, 255, 255, 0.9);
